<!-- users/templates/landing.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="landing-container">
        <h2>Welcome to Our Registration Page</h2>
        <p>Click the button below to start your registration process.</p>
        <a href="{% url 'register' %}">Go to Registration</a>
    </div>
</body>
</html>
